.carousel-caption p{
  margin-bottom:5%;
}
#menu{
  background: #000000;
}
#t1, #t2
{
  margin-top: 8%;
}
#card1{
  margin-top: 50px;
}
#card2{
  margin-top: 50px;
}
#carousel h3{
  font-size:50px;
  margin-bottom:50px;
}
#carouselText{
  font-size:25px;
  margin-bottom:50px;
}
#formacao
{
  background-image: url("../img/escolaridade.jpg");
  height: 500px;
  margin:0px;
}
#formacao p
{
 border: 1px solid #ffffff;
 padding: 1%;
}
#formacao h1{
  text-align: center;
  color: #ffffff;
  margin-bottom: 5%;
}
#formacao p{
  color: #ffffff;
  font-size: 20px;
}
#habilidades{
  margin-top:50px;
  background-image: url("../img/habilidades.jpg");
  height: 300px;
  margin-bottom: 0px;
}
#habilidades h1{
  text-align: center;
  color: #ffffff;
   margin-bottom: 3;
}
#habilidades p{
  color: #ffffff;
  font-size: 20px;
}
#qualificacoes{
  margin-top:0px;
  background-image: url("../img/qualificacoes.jpg");
  height: 600px;
}
#contentnavpill li{
	text-align:center;
	margin:auto;
	width:340px;
	color:#000000;
	list-style-type:none;
	margin-top:1%;
	border:solid 1px #4F4F4F;
	padding: 0.5%;
}
#contentnavpill p{
	margin-top:3%
}
#qualificacoes i{
  margin-top: 0px;
}
#pills-nav li a.active,#pills-nav li a:hover {
  background-color: #000000;
  color: #ffffff;
}
.nav-pills li a {
  color: #000000;
}
#contentnavpill h2
{
  margin-top: 40px;
}
